<%= content_for :title do %>
  Texto por Yodizar
<% end %>
<h1>Captura el texto que quieras traducir</h1>

<%= form_tag do %>
  <%= text_field_tag 'sentence' %>
  <%= submit_tag 'Yodaizar frase...' %>
<% end %>

<% if @translated %>
  Master Yoda would say -> <b><%= @translated[:return] %> </b>
<% end %>